<footer class="site-footer">
  

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-1 column">
      <ul> 
        <li><a href="/about/">About</a></li>
        <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        <li><a href="https://twitter.com/{{ site.username }}">@{{ site.username }}</a></li>
      </ul>
    </div>

    <div class="footer-col-2 column"> 
    </div>

    <div class="footer-col-3 column">
      <p class="text">{{ site.description }}</p>
    </div>
  </div>
</footer>

 <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-1342935-35']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
